.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.drum-pad{
    text-align: center;
    margin: 15px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px 10px;
    background-color: #333333;
    box-shadow: inset 0px 0px 5px 1px rgba(24, 24, 24, 0.75);
    color: white;
    cursor: pointer
}

.drum-pad:hover{
    background-color: #494949;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.5);
}

.drum-pad p{
    margin-top: 45px;
}

.active{
    color: red;
    box-shadow: none;
}